<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">

<div class="row nav navbar navbar-light shadow-sm p-1 mb-5 bg-white rounded">
    <div class="col ">
        <a class="navbar-brand" href="/">
        <h2>Fileshare</h2>
    </a>
        </div>

        <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>

</div>
    <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel panel-default">
                <h2>Login</h2>
                <form method="POST">
                    {% csrf_token %}
                    Username <br><input type="text" name="user"><br>
                    Password<br> <input type="password" name="pas"><br>
                    {% if error %}
                    {{error}}
                    {% endif %}
                    <br>
                    <input type="submit" name="Login" value="Login" class="btn btn-primary">
                </form>
                </div>
            </div>
        </div>
</div>
</body>
</html>